body {
    font-family: "Arial";
    background-color: whitesmoke;
    color:slateblue;
    margin: auto;
    max-width: 75ch;
    text-align: justify;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: auto;
}
#icono{
    width: 64px;
    height: 64px;
    text-align: left;
    padding-top: 25px;
}
.titulo{
    font-size: 32px;
    text-align: right;
    padding-right: 24px;
}
h2{
    text-align: center;
    color: rgb(9, 9, 9);
}
h3{
    text-align: center;
}

.spans{
    font-size: 16px;
    text-align:left; 
    word-spacing: 10;
}

.listado{
    font-size: 16px;
    text-align:left; 
    word-spacing: 10;
}
li{
    font-size: 15px;
}